:root {
    --font-family: 'Outfit', sans-serif;
    --primary-color: hsl(212, 45%, 89%);
    --card-bg-color: white;
    --text-color: hsl(216, 15%, 48%);
    --card-shadow: rgba(0, 0, 0, 0.1);
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--primary-color);
}

.card {
    background-color: var(--card-bg-color);
    border-radius: .675rem;
    box-shadow: 0 4px 6px var(--card-shadow);
    text-align: center;
    padding: 1rem;
    width: 20rem;
}

.card img {
    max-width: 100%;
    border-radius: .675rem;
}

.card h1 {
    font-size: 1rem;
    margin: 1.25rem  0.78125rem 0.875rem;
}

.card p {
    color: var(--text-color);
    font-size: 0.9375rem;
    line-height: 1.5;
    margin: 0 0 1.25rem;
    padding: 0 0.78125rem;
}