* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(212, 45%, 89%);
}

.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 15px;
    width: 300px;
}

.card img {
    max-width: 100%;
    border-radius: 10px 10px 0 0;
}

.card h1 {
    font-size: 18px;
    margin: 20px  12.5px 10px;
}

.card p {
    color: hsl(216, 15%, 48%);
    font-size: 15px;
    margin-bottom: 20px;
    padding: 0 12.5px;
}